In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})

In [5]:
df.columns

Index(['city', 'food', 'price', 'quantity'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
df.groupby('city').sum()

       price  quantity
city
osaka    850        10
tokyo    750        18

In [9]:
df.groupby(['city','food']).mean()

              price  quantity
city  food
osaka apple   100.0       1.0
      banana  275.0       3.5
      orange  200.0       2.0
tokyo apple   175.0       5.5
      banana  400.0       7.0

In [10]:
df.groupby(['city','food'], as_index=False).mean()

    city    food  price  quantity
0  osaka   apple  100.0       1.0
1  osaka  banana  275.0       3.5
2  osaka  orange  200.0       2.0
3  tokyo   apple  175.0       5.5
4  tokyo  banana  400.0       7.0

In [11]:
df.groupby('city').get_group('osaka')

    city    food  price  quantity
0  osaka   apple    100         1
1  osaka  orange    200         2
2  osaka  banana    250         3
3  osaka  banana    300         4