In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import time

from math import sqrt
from numpy import loadtxt
from itertools import product
from sklearn import preprocessing
from xgboost import plot_tree
from matplotlib import pyplot

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.feature_extraction.text import  TfidfVectorizer


kernel_with_output = False

In [3]:
kernel_with_output = True

if kernel_with_output:
    sales_train = pd.read_csv('../input/sales_train.csv')
    items = pd.read_csv('../input/items.csv')

In [4]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [5]:
    grid = []
    for block_num in sales_train['date_block_num'].unique():
        cur_shops = sales_train[sales_train['date_block_num']==block_num]['shop_id'].unique()
        cur_items = sales_train[sales_train['date_block_num'] == block_num]['item_id'].unique()
        grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

'[array([[   59, 22154,     0],\n       [   59,  2552,     0],\n       [   59,  2554,     0],\n       ...,\n       [   45,   628,     0],\n       [   45,   631,     0],\n       [   45,   621,     0]], dtype=int32), array([[   50,  3880,     1],\n       [   50,  4128,     1],\n       [   50,  4124,     1],\n       ...,\n       [   28, 12885,     1],\n       [   28, 12791,     1],\n       [   28, 13433,     1]], dtype=int32), array([[    5, 20175,     2],\n       [    5, 20083,     2],\n       [    5,    31,     2],\n       ...,\n       [    4, 12388,     2],\n       [    4, 12340,     2],\n       [    4, 10649,     2]], dtype=int32), array([[   25,  8092,     3],\n       [   25,  7850,     3],\n       [   25,  8051,     3],\n       ...,\n       [   41, 14063,     3],\n       [   41, 20690,     3],\n       [   41, 19235,     3]], dtype=int32), array([[   59, 22114,     4],\n       [   59, 20239,     4],\n       [   59, 20238,     4],\n       ...,\n       [    6,  1924,     4],\n       [    6,  1972,     4],\n       [    6,  1908,     4]], dtype=int32), array([[   30, 11496,     5],\n       [   30, 11244,     5],\n       [   30, 11388,     5],\n       ...,\n       [   52, 10182,     5],\n       [   52,  8945,     5],\n       [   52,  8160,     5]], dtype=int32), array([[   28,    51,     6],\n       [   28,    59,     6],\n       [   28,    53,     6],\n       ...,\n       [   47, 16428,     6],\n       [   47, 17944,     6],\n       [   47, 20297,     6]], dtype=int32), array([[   57, 21856,     7],\n       [   57, 21876,     7],\n       [   57, 21825,     7],\n       ...,\n       [   12, 11369,     7],\n       [   12, 11916,     7],\n       [   12, 11668,     7]], dtype=int32), array([[  51,  947,    8],\n       [  51,  716,    8],\n       [  51,  687,    8],\n       ...,\n       [  55, 3361,    8],\n       [  55, 3664,    8],\n       [  55, 3715,    8]], dtype=int32), array([[   44,  3624,     9],\n       [   44,  3620,     9],\n       [   44,  3734,     9],\n       ...,\n       [   26,  8066,     9],\n       [   26, 11781,     9],\n       [   26, 11503,     9]], dtype=int32), array([[   43,  4420,    10],\n       [   43, 10033,    10],\n       [   43, 10051,    10],\n       ...,\n       [   47,  1747,    10],\n       [   47,  4116,    10],\n       [   47,  4736,    10]], dtype=int32), array([[   25, 17769,    11],\n       [   25, 18016,    11],\n       [   25, 17763,    11],\n       ...,\n       [   46,  8390,    11],\n       [   46,  9484,    11],\n       [   46,  8845,    11]], dtype=int32), array([[   54, 10297,    12],\n       [   54, 10296,    12],\n       [   54, 10298,    12],\n       ...,\n       [   24,  5555,    12],\n       [   24,  8081,    12],\n       [   24,  4651,    12]], dtype=int32), array([[   27, 15242,    13],\n       [   27, 15200,    13],\n       [   27, 15279,    13],\n       ...,\n       [   55, 12683,    13],\n       [   55, 13430,    13],\n       [   55, 12681,    13]], dtype=int32), array([[   50, 19751,    14],\n       [   50, 19602,    14],\n       [   50, 19603,    14],\n       ...,\n       [    7,  6721,    14],\n       [    7, 10732,    14],\n       [    7, 11163,    14]], dtype=int32), array([[   54, 18394,    15],\n       [   54, 18555,    15],\n       [   54, 18411,    15],\n       ...,\n       [   38, 18508,    15],\n       [   38, 18648,    15],\n       [   38, 18643,    15]], dtype=int32), array([[   57,  2269,    16],\n       [   57, 22126,    16],\n       [   57, 20949,    16],\n       ...,\n       [   45,  2331,    16],\n       [   45,  1763,    16],\n       [   45,  2068,    16]], dtype=int32), array([[  26, 9532,   17],\n       [  26, 9507,   17],\n       [  26, 9509,   17],\n       ...,\n       [  45, 1049,   17],\n       [  45, 1050,   17],\n       [  45,  993,   17]], dtype=int32), array([[   16,  5486,    18],\n       [   16, 22092,    18],\n       [   16,  2416,    18],\n       ...,\n       [   24,  1326,    18],\n       [   24,  1243,    18],\n       [   24,   479,    18]], dtype=int32), array([[  42, 6117,   19],\n       [  42, 6111,   19],\n       [  42, 6108,   19],\n       ...,\n       [  26, 2146,   19],\n       [  26, 2797,   19],\n       [  26, 2750,   19]], dtype=int32), array([[    5,  1039,    20],\n       [    5,  1015,    20],\n       [    5,  1329,    20],\n       ...,\n       [   56, 14716,    20],\n       [   56, 14515,    20],\n       [   56, 12944,    20]], dtype=int32), array([[   26,  6183,    21],\n       [   26, 11391,    21],\n       [   26, 11389,    21],\n       ...,\n       [   46, 14272,    21],\n       [   46, 13109,    21],\n       [   46,  5520,    21]], dtype=int32), array([[   37,  3460,    22],\n       [   37,  4615,    22],\n       [   37,  4870,    22],\n       ...,\n       [   42, 13694,    22],\n       [   42,  1624,    22],\n       [   42,   817,    22]], dtype=int32), array([[   42, 17279,    23],\n       [   42, 17315,    23],\n       [   42, 17302,    23],\n       ...,\n       [   22,  5397,    23],\n       [   22,  5455,    23],\n       [   22,  5033,    23]], dtype=int32), array([[   27, 20463,    24],\n       [   27, 20462,    24],\n       [   27, 20448,    24],\n       ...,\n       [    2,  6902,    24],\n       [    2,  6564,    24],\n       [    2,  1398,    24]], dtype=int32), array([[   46, 21443,    25],\n       [   46, 20949,    25],\n       [   46, 21455,    25],\n       ...,\n       [   26, 19064,    25],\n       [   26, 14671,    25],\n       [   26, 16564,    25]], dtype=int32), array([[    3, 10079,    26],\n       [    3, 20949,    26],\n       [    3, 21364,    26],\n       ...,\n       [   26, 12049,    26],\n       [   26, 14099,    26],\n       [   26, 12980,    26]], dtype=int32), array([[   27, 12020,    27],\n       [   27,  2734,    27],\n       [   27,  2470,    27],\n       ...,\n       [   14, 19790,    27],\n       [   14, 19751,    27],\n       [   14, 19072,    27]], dtype=int32), array([[   19, 15710,    28],\n       [   19, 15702,    28],\n       [   19, 15698,    28],\n       ...,\n       [   47,  4701,    28],\n       [   47,  5076,    28],\n       [   47,  4350,    28]], dtype=int32), array([[   35,  1971,    29],\n       [   35,  1881,    29],\n       [   35,  1914,    29],\n       ...,\n       [   56, 22072,    29],\n       [   56, 22045,    29],\n       [   56,    76,    29]], dtype=int32), array([[    5,  5911,    30],\n       [    5,  5821,    30],\n       [    5,  5634,    30],\n       ...,\n       [   28, 16327,    30],\n       [   28, 16443,    30],\n       [   28, 18274,    30]], dtype=int32), array([[   42,  4261,    31],\n       [   42, 12752,    31],\n       [   42, 13556,    31],\n       ...,\n       [   21, 13184,    31],\n       [   21, 13196,    31],\n       [   21, 12664,    31]], dtype=int32), array([[   42, 11170,    32],\n       [   42, 11215,    32],\n       [   42, 11232,    32],\n       ...,\n       [   27, 21352,    32],\n       [   27, 21284,    32],\n       [   27, 21105,    32]], dtype=int32), array([[   45, 13315,    33],\n       [   45, 13880,    33],\n       [   45, 13881,    33],\n       ...,\n       [   21,  7640,    33],\n       [   21,  7632,    33],\n       [   21,  7440,    33]], dtype=int32)]'