In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
from pandas import datetime

import matplotlib.pyplot as plt
import seaborn as sns


from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [4]:
path_to = './input/'

train = pd.read_csv(path_to+'train.csv', parse_dates=True, low_memory=False, index_col='Date')
store = pd.read_csv(path_to+'store.csv', low_memory=False)

In [5]:
train.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1
2015-07-31,2,5,6064,625,1,1,0,1
2015-07-31,3,5,8314,821,1,1,0,1
2015-07-31,4,5,13995,1498,1,1,0,1
2015-07-31,5,5,4822,559,1,1,0,1

In [6]:
print("In total:" , train.shape)

train['Year'] = train.index.year
train['Month'] = train.index.month
train['Day'] = train.index.day
train['WeekOfYear'] = train.index.WeekOfYear

In total: (1017209, 8)

AttributeError: 'DatetimeIndex' object has no attribute 'WeekOfYear'

In [7]:
train['WeekOfYear'] = train.index.weekofyear

In [9]:
train

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear
Date,,,,,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1,2015,7,31,31
2015-07-31,2,5,6064,625,1,1,0,1,2015,7,31,31
2015-07-31,3,5,8314,821,1,1,0,1,2015,7,31,31
2015-07-31,4,5,13995,1498,1,1,0,1,2015,7,31,31
2015-07-31,5,5,4822,559,1,1,0,1,2015,7,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-01,1111,2,0,0,0,0,a,1,2013,1,1,1
2013-01-01,1112,2,0,0,0,0,a,1,2013,1,1,1
2013-01-01,1113,2,0,0,0,0,a,1,2013,1,1,1
2013-01-01,1114,2,0,0,0,0,a,1,2013,1,1,1
2013-01-01,1115,2,0,0,0,0,a,1,2013,1,1,1

In [11]:
train.index.weekofyear

Int64Index([31, 31, 31, 31, 31, 31, 31, 31, 31, 31,
            ...
             1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
           dtype='int64', name='Date', length=1017209)